<!-- Just an image -->
<nav class="navbar">
  <!-- <div class="nav-item">Make your favolite cocktails</div> -->
  <!-- <div class="nav-item">Event</div> -->
  <%= link_to image_tag("mister-cocktail-yellow.png",class:"logo xs-order-1"), root_path %>

  <!-- <div class="nav-item">Enjoy our cocktails</div> -->
  <!-- <div class="nav-item">Contact</div> -->
</nav>
