.navbar{
  display:flex;
  justify-content: space-around;
  background-color: #0d335d;
  color:white;
  padding:5px 200px;
}

.nav-item{
  justify-content: space-around;
}
.btn{
  border-radius: 25px;
}
.logo{

}
