.form{
  border-style: solid;
  border-color: #276678;
  margin-top: 50px;
  height:300px;
  background-color:white;
}

.create-wrapper{
  background-image: url('cocktails.jpg');
  height: 900px;
  background-size: cover;
}

